.idea/
/bootstrap/cache
/node_modules
/public/hot
/public/storage
/storage
.DS_Store
.*.swp
.env
.env.example
.phpunit.result.cache
.editorconfig
Homestead.json
Homestead.yaml
npm-debug.log
composer.lock
yarn.lock
yarn-error.log
package-lock.json
Icon?

